.analyticsDashboard {
  h4 {
    font-size: 21px;
    margin-bottom: 0;
    padding-bottom: 21px;
  }
  .analyticsTables {
    h5 {
      font-size: 14px;
      background: #8f8e9c;
      color: #fff;
      padding: 10px 16px;
      margin: 16px 0;
    }
    .singleTable {
      margin-bottom: 24px;
      h6 {
        margin-bottom: 10px;
      }
    }
  }
}
